.container-row {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.form {
    width: 400px;
    margin: 20px auto;
}
header {
    text-align: center;
}
.form input {
    width: 100%;
    padding: 8px;
    font-size: 18px;
}
.image,.image-item {
    max-width: 200px;
    height: 200px;
    width: 100%;
}
.image img{
    width: 100%;
    display: block;
}
.image-list {
    display: flex;
    flex-wrap: wrap-reverse;
}

body {
    margin: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}
.wrapper .card {
    display: flex;
    padding: 24px;
    border-radius: 5px;
    min-height: 300px;
    min-width: 400px;
    background-color: #fbfbfb;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper .card .loading {
    position: relative;
    height: 0;
    width: 0;
}
.wrapper .card .loading span {
    display: block;
    height: 20px;
    width: 20px;
    background: #6464b0;
    position: absolute;
    border-radius: 50%;
}
.wrapper .card .loading span:nth-of-type(1) {
    left: -40px;
    animation: loader1Anim 1.2s linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: forwards;
}
.wrapper .card .loading span:nth-of-type(2) {
    left: -10px;
    animation: loader1Anim 1.2s linear;
    animation-delay: .2s;
    animation-iteration-count: infinite;
    animation-direction: forwards;
}
.wrapper .card .loading span:nth-of-type(3) {
    left: 20px;
    animation: loader1Anim 1.2s linear;
    animation-delay: .4s;
    animation-iteration-count: infinite;
    animation-direction: forwards;
}

@keyframes loader1Anim {
    from,to {
        transform: scale3d(1.15, 0.8, 1);
    }
    42% {
        transform: translateY(-45px);
    }
    88% {
        transform: scale3d(1, 1, 1);
    }
    95% {
        transform: scale3d(1.05, 0.85, 1);
    }
    98% {
        transform: scale3d(1.15, 0.8, 1);
    }
}

section.wrapper.pop-up {
    position: fixed;
    top: 1%;
    display: none;
}
.show-pop-up{
    overflow: hidden;
}