{% extends 'base.html.twig' %}
{% block container %}
    <div class="container-row">
        <div class="form form-group">
            <label for="download-img">Enter page link</label>
            <input id="download-img" type="url" class="form-control" placeholder="https://exemple.com/test/imagespage">
            <br>
            <input id="img-width" class="size form-control" type="url" placeholder="Enter min width" required>
            <br>
            <input id="img-height" class="size form-control" type="url" placeholder="Enter min height" required>
            <br>
            <input type="submit" class="download-btn btn btn-primary" value="download">
        </div>

        <section class="wrapper pop-up">
            <div class="card">
                <div class="loading">
                    <span ></span>
                    <span ></span>
                    <span ></span>
                </div>
                Loading...
            </div>
        </section>

        <div class="image-list">
            {% for image in images %}
                <div class="image-item">
                    <div class="image">
                        <img src="/images/{{ image.file }}">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


  {% block javascripts %}
      <script src="js/index.js"></script>
  {% endblock %}